/* Поменяй задний фон на розовый*/ 
/* Сделай анимацию текста при загрузки страницы(любую)*/
/* Поменять шрифт на google fonts любой у текста в <p> и размер*/
p{
	position: absolute;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	width: 100px;
  height: 100px;
color: black;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
}

body{
	background-color: #FF1493;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  from {color: red;}
  to {color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {color: red;}
  to {color: yellow;}
}